@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #2563eb;
  --muted: #6b7280;
  --border: #e5e7eb;
}

.dark {
  --background: #383838;
  --foreground: #ededed;

  --primary: #2B7FFF;
  --muted: #b2b9c5;
  --border: #34445a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.25s ease, color 0.25s ease;
}
